# Build and Release Folders


# Other files and folders
.idea/
.gradle/
gradle/
*.iml
local.properties
build.gradle
gradle.properties
gradlew
settings.gradle
app/build.gradle

# Executables
gradlew.bat


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.