<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iit.heathens.reservationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rest_Reserv_App">
        <activity
            android:name=".FactorPage"
            android:exported="false" />
        <activity
            android:name=".PrototypeResults"
            android:exported="false" />
        <activity
            android:name=".ConfirmationPage"
            android:exported="false" />
        <activity
            android:name=".CustomerSearch"
            android:exported="false" />
        <activity
            android:name=".EnterFactors"
            android:exported="false" />
        <activity
            android:name=".activity_prototype_tester"
            android:exported="false" />
        <activity
            android:name=".activity_startup_page"
            android:exported="false" />
        <activity
            android:name=".RestaurantSearch"
            android:exported="true" />
        <activity
            android:name=".activity_intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_register"
            android:exported="true" />
        <activity
            android:name=".activity_login"
            android:exported="true" />
    </application>

</manifest>